// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background-color: azure;
}

.s-light {
  font-weight: 100;
}

#header {
  height: 600px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
