extends layouts/default

block content
  section#header.s-white.u-full-width
    .s-scrim-40
    .vertical-flex
      h1.s-bold.u-mb0 Jonathan Blair
      h2.s-light.u-mt0 Interaction Designer
      
      .h4.u-mt3.s-light
        a.u-mr1.s-white Work
        a.u-mr1.s-white About
        a.u-mr1.s-white Contact
        a.s-white Writing
  section.s-top-skew.u-center
    h1.s-bold.u-m0 Featured Work
    .row-fluid.u-mt10
      .col-md-offset-1.col-md-5.col-sm-12.u-mb3
        a.s-feature.u-left.u-p1
          .s-photo(
            style="background-image: url(http://itgm.cool/wp-content/uploads/2015/02/iPhone-6-Template-White-Ramotion-1024x576.jpg);"
          )
          .s-scrim
          .s-label
            .s-text
              h3.u-m0.s-medium Mamava Nomination Map
              p.s-book
                | The Mamava Mamamap allows moms to nominate locations in their 
                | community that need Mamava Lactation Stations. Using the web app, 
                | moms can add their malls, airports, and offices and begin their
                | own campaign to get Mamava.
    
      .col-md-5.col-sm-12.u-mb3
        a(href="/views/gmp-controller.html").s-feature.u-left.u-p1
          .s-photo(
            style="background-image: url(http://itgm.cool/wp-content/uploads/2015/11/Untitled-1-1024x576.png);"
          )
          .s-scrim
          .s-label
            .s-text
              h3.u-m0.s-medium Green Mountain Power Controller
              p.s-book
                | Green Mountain Power needed to replace their outdated system for grid controllers to make notes.
    .row-fluid.u-mt10
      .col-md-offset-1.col-md-5.col-sm-12
        a.s-feature.u-left.u-p1
          .s-photo(
            style="background-image: url(http://buildbeam.s3-website-us-east-1.amazonaws.com/images/bb_header.jpg);"
          )
          .s-scrim
          .s-label
            .s-text
              h3.u-m0.s-medium BuildBeam Landing Page
              p.s-book
                | The Mamava Mamamap allows moms to nominate locations in their 
                | community that need Mamava Lactation Stations. Using the web app, 
                | moms can add their malls, airports, and offices and begin their
                | own campaign to get Mamava.
      .col-md-5.col-sm-12.u-mb4
        a(href="/views/gmp-controller.html").s-feature.u-left.u-p1
          .s-photo(
            style="background-image: url(http://itgm.cool/wp-content/uploads/2015/11/Untitled-1-1024x576.png);"
          )
          .s-scrim
          .s-label
            .s-text
              h3.u-m0.s-medium Green Mountain Power Controller
              p.s-book
                | Green Mountain Power needed to 

      
  script(src="/scripts/background.js")
